@import './App.scss';

.dashboard-container {
  .accent {
    font-size: $font-size-xl;
    margin-bottom: $spacing-md;
    span {
      font-size: $font-size-xxl;
    }
  }

  h2 {
    font-size: $font-size-h2;
  }

  h3 {
    font-size: $font-size-xxl;
    margin-bottom: $spacing-lg;
    span {
      font-family: $font-family-secondary;
    }
  }

  .container-top {
    padding-bottom: $spacing-xxl;
  }

  .container-bottom {
    display: flex;

    .container-left {
      flex: 2;
    }

    .container-right {
      flex: 1;

      .container-right--box {
        background-color: $light-gray-color;
        padding: $spacing-md;
        border-radius: 8px;
        min-height: 500px;
      }
    }
  }
}

.notification {
  position: relative;
  margin-bottom: $spacing-lg;
}

.notification-card {
  position: relative;
  z-index: 2;
  background-color: $white-color;
  display: flex;
  border: 2px solid $orange-color;
  border-radius: 15px;
  padding: $spacing-md;
  align-items: center;
  max-width: 650px;
  width: 80%;
  transition: $transition;

  img {
    width: 120px;
    border-radius: 50%;
    margin-right: $spacing-lg;
  }

  .details--supplement-name {
    color: $orange-color;
    font-weight: 700;
    font-size: $font-size-xxl;
  }

  &.restock-card {
    background-color: $navy-color;
    color: $white-color;
    border: 2px solid $navy-color;

    .details--supplement-name {
      color: $white-color;
    }
  }
}

.notification-card-btn {
  position: absolute;
  width: 125px;
  top: 0;
  right: 18%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 27px;
  transition: $transition;
  z-index: 1;
  cursor: pointer;

  &.active {
    right: 5%;
  }

  span {
    color: $white-color;
    font-size: $font-size-xxl;
    font-family: $font-family-primary;
    font-weight: 700;
    margin-right: $spacing-lg;
  }
}

.intake-card-btn {
  background-color: $orange-color;
}

.restock-card-btn {
  background-color: $pink-color;
}

.skip-btn {
  position: absolute;
  top: 8px;
  right: 24px;
  text-decoration: underline;
  font-size: $font-size-base;
  cursor: pointer;
}

.intake-card .skip-btn {
  color: $dark-gray-color;
  &:hover {
    color: $black-color;
  }
}

.restock-card .skip-btn {
  color: $dark-gray-color;
  &:hover {
    color: $white-color;
  }
}
