@import './App.scss';
@import './variables';
@import './header';
@import './footer';
@import './dashboard';





header {
  width: 100%;
  background-color: $black-color;
  position: fixed;
  z-index: 99;

  nav {
    padding-top: $spacing-lg;
    max-width: 1200px;
    margin: 0 auto;
    color: $white-color;
    font-family: $font-family-primary;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
  background-image: url('../assets/image-01.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  color: #130404;
}






.logo {
  display: flex;
  align-items: center;
}
.logo span {
  color: #ffc107; 
   font-size: 5rem;
}




.container-top {
  text-align: center;
  margin-bottom: 20px;
}

.container-top h1 {
  font-size: 5rem;
  margin-bottom: 10px;
}

.container-top h1 span {
  color: #ffc107; 
}

.container-top h2 {
  font-size: 2.5rem;
  color: #3b21bf; 
}

.container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-left {
  width: 60%;
  text-align: left;
}

.container-left h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.container-left p {
  font-size: 1.5rem;
  color: #9c91b8;
}

